body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fontC {
   font-family: -apple-system, BlinkMacSystemFont,'Oxygen',
    sans-serif;
}
.Img {
transition: all 0.3s ease-in-out;
cursor: pointer;

}
.Img img {
  border-radius: 7px;
}
.Img:hover {
  opacity: 0.3;
  transform: scale(0.98);
}
.navbar li a {
  border-radius: 7px;
}
.btn-info {
  border-radius: 7px;
  background: hsl(var(--in));
  color: white;
}
#root {
  width: 100%;
  height: 100%;
}
.container {
  min-height: 100vh;
  max-height: auto;
}
.spacer {
  height: 100%;
}
.card-bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 10px;
}